@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

:root  {
  --background: 42 100% 100%;
  --foreground: 42 5% 10%;
  --card: 42 50% 100%;
  --card-foreground: 42 5% 15%;
  --popover: 42 100% 100%;
  --popover-foreground: 42 100% 10%;
  --primary: 42 38.1% 53.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 30% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 4 30% 95%;
  --muted-foreground: 42 5% 40%;
  --accent: 4 30% 90%;
  --accent-foreground: 42 5% 15%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 42 5% 100%;
  --border: 42 30% 82%;
  --input: 42 30% 50%;
  --ring: 42 38.1% 53.1%;
  --radius: 0.5rem;
}
.dark  {
  --background: 42 50% 10%;
  --foreground: 42 5% 100%;
  --card: 42 50% 10%;
  --card-foreground: 42 5% 100%;
  --popover: 42 50% 5%;
  --popover-foreground: 42 5% 100%;
  --primary: 42 38.1% 53.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 4 30% 25%;
  --muted-foreground: 42 5% 65%;
  --accent: 4 30% 25%;
  --accent-foreground: 42 5% 95%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 42 5% 100%;
  --border: 42 30% 50%;
  --input: 42 30% 50%;
  --ring: 42 38.1% 53.1%;
  --radius: 0.5rem;
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
